body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}