body {
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

.form-container {
  min-width: 5vw;
  max-width: 40vw;
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  /* border: 2px solid var(--primary-color); */
  border-radius: 20px;
  box-shadow: 1px 1px 25px rgba(79, 183, 9, 0.1);
  height: max-content;


}


.form-title {
  font-size: 40px;
  color: #ff66cc;
  margin: 0 0 10px;
}

.form-description {
  font-size: 24px;
  color: #dddddd;
  margin-top: 10px 0;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap:25px;
  margin-bottom: 25px;
}

.form-input {
  padding: 17px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  outline: none;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.form-input::placeholder {
  color: #aaaaaa;
}

.form-input:focus {
  border-color: #ff66cc;
}

.submit-button {
  background-color: #000000;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  padding: 6px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--primary-color);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.submit-button:hover {
  background-color: var(--primary-color);
  color: black;
}

.note {
  margin-bottom: 10px;
  font-size: 14px;
  color: #dddddd;
  margin-bottom: 50px;
}