.carousel-container {
    padding: 20px;
    width: 80vw;
}


.prizes-title {
    color: var(--Theme-Accent, #C401C4);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(80, 218, 76, 0.25);
    font-family: "Space Grotesk";
    font-size: 6vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 45vh;
    padding: 20px;
    text-align: center;
    margin: 10px;

    transition: transform 0.3s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card.center-card {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-image {
    margin-bottom: 15px;
}

.product-image img {
    width: 60%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-details h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.product-details h6 {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-group .p-button {
    border-radius: 50%;
    padding: 10px;
}
